* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  vertical-align: baseline;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  color: azure;
}

body {
  line-height: 1.5;
  background-color: #1a1a1a;
  color: azure;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 1px solid azure;
  background: none;
  outline: none;
  font-size: inherit;
  padding: 0.25rem;

  &:not(:disabled) {
    cursor: pointer;
  }
}

button:focus-visible {
  outline: 2px solid azure;
}

input {
  border: 1px solid azure;
  outline: none;
  padding: 0.25rem;
  &:required {
    &::after {
      content: '*';
      color: red;
      margin-left: 2px;
    }
  }
}

input:focus-visible {
  outline: 2px solid azure;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

[popover]:popover-open {
  border: 1px solid azure;
  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}
